<h1>Welcome to Take a Hike!</h1>
<div>
<% if @current_user == nil %>
        <p><a class="btn btn-primary d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/logins/new">Please Sign in to Continue!</a></p>
    <% else %>
        <p><a class="btn btn-primary d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/users/user_detail">Take me to my profile!</a></p>
    <% end %>
</div>

