<h1>Make a New Trail</h1>
<form action="/trails/create" method="post">
    <div class="form-group">
        <label for="trail_name">Trail name</label>
        <input type="text" class="form-control" name="trail_name" placeholder="Old Creek Trail">
    </div>
    <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" name="location" placeholder="Chicago, IL">
    </div>
    <div class="form-group">
        <label for="trail_length">Total length</label>
        <input type="text" class="form-control" name="trail_length" placeholder="20 miles">
    </div>
      <div class="form-group">
    <label for="difficulty">Difficulty</label>
    <select class="form-control" name="difficulty">
      <option>Easy</option>
      <option>Moderate</option>
      <option>Hard</option>
    </select>
  </div>
    <div class="form-group">
        <label for="comments"></label>
        <textarea class="form-control" name="comments" rows="3" placeholder="The Appalachian Trail Conservancy describes the Appalachian Trail as the longest hiking-only trail in the world. More than 2 million people are said to take a hike on part of the trail at least once each year."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>