<h1>Reset Password</h1>
<form action="/password_reset/create" method="post">
    <div class="form-group">
        <label for="trail_name">Enter you email address</label>
        <input type="text" class="form-control" name="email" placeholder="TRoosevelt@gmail.com">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>