<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <img src ="https://www.pngitem.com/pimgs/m/272-2720656_user-profile-dummy-hd-png-download.png" width = "100px">
        </div>
        <div class="col-sm">
            <div class="row">
                <%= @current_user[:first_name] %> <%= @current_user[:last_name] %>
            </div>
            <div class="row">
                Member since <%= @current_user[:creation_date][0,4] %>   
            </div>
            <div class="row">
                Number of journal entries
            </div>
        </div>    
        <div class="col-lg">
        </div>
    </div>
    <div class="row">
        <a href = "/users/logs/new" type="button" class="btn btn-primary">New log entry</a>
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Trail</th>
                <th scope="col">Duration</th>
                <th scope="col">Distance</th>
                <th scope="col">Notes</th>
            </tr>
            </thead>
            <tbody>
                <% for entry in @log_summary_table do %>
                <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>


